#blue {
    background-color: blue;
    border-radius:0 100% 0 0;
    height: 200px;
    width: 200px;
    padding:0px;
}
#green {
    background-color: green;
    border-radius:0 0 0 100%;
    height: 200px;
    width: 200px;
    padding:0px;
}
#red {
    background-color: red;
    border-radius:100% 0 0 0;
    height: 200px;
    width: 200px;
    padding:0px;
}
#yellow {
    background-color: yellow;
    border-radius:0 0 100% 0;
    height: 200px;
    width: 200px;
    padding:0px;

}
#idOfStart {
    background-color: dodgerblue;
    height: 200px;
    width: 200px;

}
